@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap);

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #bdcbe6;
    background-attachment: fixed;
    background-position: center center;
    background-image: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

html {
    width: 100%;
    height: 100%;
    background-color: #bdcbe6;
}
body {
    width: 100%;
    height: 100%;
}

nav {
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 30vw;
}

nav a {
    z-index: 1500;
    text-decoration: none;
    font-family: Montserrat;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    float: left;
    text-shadow: 1px 1px 1px grey;
    margin-left: 2vh;
    opacity: 90%;
}

.wave {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 150px;
}

.wave #wave-blue-survey {
    position: absolute;
    margin: 0px auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    background: url(https://storage.googleapis.com/assets-moody-trial/survey-blue-wave.png);
    background-size: 1000px 100px;
    animation: animate 10s linear infinite;
    animation-delay: 0s;
}

#wave-pink-survey {
    position: absolute;
    margin: 0px auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    height: 120px;
    background: url(https://storage.googleapis.com/assets-moody-trial/survey-pink-wave.png);
    background-size: 1000px 120px;
    animation: animate-2 10s linear infinite;
    animation-delay: 0s;
}

#wave-white-survey {
    position: absolute;
    margin: 0px auto;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    height: 150px;
    background: url(https://storage.googleapis.com/assets-moody-trial/survey-white-wave.png);
    background-size: 1000px 150px;
    animation: animate-2 25s linear infinite;
    animation-delay: 0s;
}

img#main-title {
    padding: 10px;
    margin-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#api-results {
    margin-top: 5%;
}

.media-result-right {
    padding: 2%;
    float: right;
    margin-right: 10%;
    display: block;
}
.media-result-left {
    padding: 2%;
    float: left;
    margin-left: 10%;
    display: block;
}

.media-result-right iframe {
    padding: 5%;
    float: right;
    margin-right: 5%;
}
.media-result-left iframe {
    padding: 5%;
    float: left;
    margin-left: 5%;
}

img.caption-wave {
    padding-top: 10px;
    width: 50vw;
}

/* .media-result-left img.caption-wave {
    margin-left: -5%;

} */

h1 {
    font-family: Montserrat;
    color: #274483;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 1px 1px grey;
    margin-top: 30vh;
    letter-spacing: 6px;
}

h3 {
    font-family: Montserrat;
    color: #274483;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 0.5px grey;
    margin-top: 5%;
}

@media only screen and (max-width: 700px) {
    h1 {
        margin-top: 25vh;
    }
    h3 {
        font-size: 0.8em;
    }

    .media-result-right {
        padding: 2%;
        float: right;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .media-result-left {
        padding: 2%;
        float: left;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .media-result-right iframe {
        padding: 5%;
        float: center;
        margin-right: auto;
        margin-left: auto;
    }
    .media-result-left iframe {
        padding: 5%;
        float: center;
        margin-right: auto;
        margin-left: auto;
    }

    img.caption-wave {
        padding-top: 10px;
        width: 100%;
    }
}

.results-table {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 1px white; */
}

.results-table tbody td img {
    margin: 0.5vw;
    width: auto;
    height: 20vh;
    /* border-color: white; */
    /* border: solid 1px white; */
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate-2 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0;
    }
}
