<!DOCTYPE html>

<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>MOODY</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <nav>
        <!-- <a href="index.html">M O O D Y</a> -->
        <a href="/">
            <img border="0" alt="logo" src="https://storage.googleapis.com/assets-moody-trial/moodylogo.png"
                width="55vw" height="55vh">
        </a>
    </nav>

    <div class="wave lp-blue-wave"></div>

    <div class="website_logo">
        <!--    <img id="hello" src="https://storage.googleapis.com/assets-moody-trial/hello.png" label="hello">
        <img id="moody" src="https://storage.googleapis.com/assets-moody-trial/moody.png">
        <img id="slogan" src="https://storage.googleapis.com/assets-moody-trial/slogan.png">
        <a href="/gettingstarted">
            <img id="get-star" src="https://storage.googleapis.com/assets-moody-trial/get-started.png">
        -->
        <h2>HELLO, I AM</h2>
        <h1>MOODY</h1>
        <p>Your virtual friend in these tough times!</p>
        <a href="/gettingstarted"><button type="button">GET STARTED</button></a>
    </div>

    <div class="wave-bottom-pink"></div>
    <div class="wave-bottom-white"></div>
</body>

</html>